<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <meta name="description" content="A listening history browser, powered by the Last.fm API">

    <title>Listening | smahr.net</title>

    <meta property="og:url" content="http://listening.smahr.net">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Listening | smahr.net">
    <meta property="og:image" content="http://1feb14f2ae6bd509e324-86b7d0af7bcdc7047f4b69c520d7aac6.r50.cf5.rackcdn.com/listening_og.png">
    <meta property="og:description" content="A listening history browser, powered by the Last.fm API">
    <meta property="og:site_name" content="Site Name">

    <meta itemprop="name" content="Listening | smahr.net">
    <meta itemprop="description" content="A listening history browser, powered by the Last.fm API">
    <meta itemprop="image" content="http://1feb14f2ae6bd509e324-86b7d0af7bcdc7047f4b69c520d7aac6.r50.cf5.rackcdn.com/listening_og.png">

    <style type="text/css">

      .spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -20px -40px;
        width: 80px;
        height: 40px;
        text-align: center;
        font-size: 0;
      }

      .spinner > div {
        display: inline-block;
        width: 2px;
        border-radius: 1px;
        margin: 0 4px;
        height: 100%;
        background-color: #E6E3E0;
        -webkit-animation: sk-stretchdelay 1.6s infinite ease-in-out;
                animation: sk-stretchdelay 1.6s infinite ease-in-out;
      }

      .spinner .rect2 {
        -webkit-animation-delay: -1.4s;
                animation-delay: -1.4s;
      }

      .spinner .rect4 {
        -webkit-animation-delay: -1.2s;
                animation-delay: -1.2s;
      }

      .spinner .rect6 {
        -webkit-animation-delay: -1s;
                animation-delay: -1s;
      }

      .spinner .rect8 {
        -webkit-animation-delay: -0.8s;
                animation-delay: -0.8s;
      }

      .spinner .rect3 {
        -webkit-animation-delay: -0.6s;
                animation-delay: -0.6s;
      }

      .spinner .rect5 {
        -webkit-animation-delay: -0.4s;
                animation-delay: -0.4s;
      }

      .spinner .rect7 {
        -webkit-animation-delay: -0.2s;
                animation-delay: -0.2s;
      }

      @-webkit-keyframes sk-stretchdelay {
        0%, 100% {
          -webkit-transform: scaleY(0.5);
                  transform: scaleY(0.5);
        }  40% {
          -webkit-transform: scaleY(1.0);
                  transform: scaleY(1.0);
        }
      }

      @keyframes sk-stretchdelay {
        0%, 100% {
          -webkit-transform: scaleY(0.5);
                  transform: scaleY(0.5);
        }  40% {
          -webkit-transform: scaleY(1.0);
                  transform: scaleY(1.0);
        }
      }
    </style>

    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,300italic,300,400italic,500,500italic,700,700italic|Inknut+Antiqua:400,300,500,600,700" rel="stylesheet" type='text/css'>
  </head>
  <body>
    <div id="root">
      <div class="loading-overlay">
        <div class="spinner">
          <div class="rect1"></div>
          <div class="rect2"></div>
          <div class="rect3"></div>
          <div class="rect4"></div>
          <div class="rect5"></div>
          <div class="rect6"></div>
          <div class="rect7"></div>
          <div class="rect8"></div>
        </div>
      </div>
    </div>
  </body>
</html>
