@define-placeholder header-1 {
  font-size: calc(1em * 42 / 16);
  font-family: var(--titleFont);
  font-weight: 400;
  letter-spacing: -0.02em;
  line-height: 1.2;
}

@define-placeholder header-2 {
  font-size: calc(1em * 22 / 16);
  font-family: var(--titleFont);
  font-weight: 300;
  letter-spacing: -0.02em;
  line-height: 1.2;
}

@define-placeholder header-3 {
  font-size: calc(1em * 18 / 16);
  font-family: var(--titleFont);
  font-weight: 300;
  letter-spacing: -0.02em;
}

@define-placeholder header-4 {
  font-size: calc(1em * 18 / 16);
  font-weight: 400;
}

@define-placeholder text-small {
  font-size: calc(1em * 14 / 16);
}
