@define-placeholder header-1 {
  font-size: rem(42);
  font-family: var(--titleFont);
  font-weight: 400;
  letter-spacing: -0.02em;
  line-height: 1.2;
}

%header-2 {
  font-size: rem(24);
  font-family: var(--titleFont);
  font-weight: 300;
  letter-spacing: -0.02em;
  line-height: 1.2;

  @media (--screenLargeUp) {
    font-size: rem(28);
  }
}

@define-placeholder header-3 {
  font-size: calc(1em * 22 / 16);
  font-family: var(--titleFont);
  font-weight: 400;
  letter-spacing: -0.02em;
}

@define-placeholder header-4 {
  font-size: calc(1em * 18 / 16);
  font-weight: 300;
}

@define-placeholder text-small {
  font-size: calc(1em * 14 / 16);
}

%never-empty {
  &:empty:before {
    content: "\200b";
  }
}

%outer-padding {
  max-width: rem(1100);
  padding: 0 14px;
  margin: 0 auto;

  @media (--screenMediumUp) {
    padding: 0 30px;
  }

  @media (--screenLargeUp) {
    padding: 0 40px;
  }
}
