html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  /* lost-utility: edit; */
  font-family: var(--bodyFont);
  color: var(--bodyColor);
  line-height: 1.5;
  font-weight: 300;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.container {
  lost-center: var(--maxWidth) no-flex;
  padding: 0 20px;
}

.img-loader-container {
  position: relative;
  padding: 50% 0;
  background-color: color(var(--accentColor) alpha(80%));
  overflow: hidden;
  border-radius: 50%;
}

.img-loader-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0;
  transition: all 0.5s ease;
  filter: grayscale(20%);
  border-radius: 50%;

  @nest .img-loaded & {
    opacity: 0.6;
    mix-blend-mode: multiply;
  }
}
