html {
  box-sizing: border-box;

  @media screen and (min-width: 1300px) {
    font-size: 17px;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  min-height: 100%;
}

body {
  font-family: var(--bodyFont);
  color: var(--bodyColor);
  line-height: 1.5;
  font-weight: 300;
  background-color: var(--backgroundColor);

  &.scroll-lock {
    overflow: hidden;
    margin-bottom: rem(124);
  }
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: 1em;
  font-weight: inherit;
}

.button {
  border: 0;
  display: block;
  width: 100%;
  padding: rem(10) 0;
  cursor: pointer;
  font-size: rem(14);
  border-radius: 2px;
  background: var(--greyLight);
  border: 1px solid transparent;

  &:focus {
    outline: 0;
    border-color: rgba(0,0,0,0.05);
  }
}
