html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  /* lost-utility: edit; */
  font-family: var(--bodyFont);
  color: var(--bodyColor);
  line-height: 1.5;
  font-weight: 300;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.container {
  lost-center: var(--maxWidth) no-flex;
  padding: 0 20px;
}

