.site-header {
  @extend %outer-padding;

  @media (--screenMediumOnly) {
    margin-bottom: 40px;
  }

  @media (--screenMediumUp) {
    margin-bottom: calc(40px + 5vh);
  }
}


/*  Now Playing */

.now-playing {
  padding: 2em 0;
  text-align: center;
  border-bottom: 1px solid var(--greyMedium);
}

.now-playing-wrapper {}

.now-playing-label {
  color: var(--greyDark);
}

.now-playing-title {
  font-size: calc(1em * 22 / 16);
  font-family: var(--titleFont);
  margin: 6px 0;
}

.now-playing-artist {}


/* Menu */

.menu {
  lost-flex-container: row;
  border-bottom: 1px solid var(--greyMedium);
}

.menu-link {
  @extend text-small;
  lost-column: 1/4 4 0 flex;
  text-align: center;
  text-decoration: none;
  color: inherit;
  padding: 10px 0;
  border-right: 1px solid var(--greyMedium);

  &:last-child {
    border-right: 0;
  }

  &.active {
    color: var(--accent);
    font-weight: 500;
    background-color: var(--greyLight);
  }

  &:not(.active):hover {
    color: var(--accent);
  }
}
