.site-header {
  @media (--screenMediumOnly) {
    margin-bottom: 40px;
  }

  @media (--screenMediumUp) {
    margin-bottom: calc(40px + 5vh);
  }
}


/*  Now Playing */

.now-playing {
  padding: 2em 0;
  background: var(--greyLight);
}

.now-playing-wrapper {

}

.now-playing-label {
  @extend text-small;
  opacity: 0.6;
}

.now-playing-song {
  @extend header-2;
  margin-top: 10px;


  & .sep {
    display: inline-block;
    margin: 0 6px;
  }
}


/* Menu */

.menu {
  background: color(var(--greyLight) blackness(5%));
  lost-flex-container: row;
}

.menu-link {
  @extend text-small;
  lost-column: 1/4 4 0 flex;
  text-align: center;
  text-decoration: none;
  color: inherit;
  padding: 10px 0;

  &.active {
    font-weight: 500;
    background: color(var(--greyLight) blackness(8%));;
  }

  &:not(.active):hover {
    background: color(var(--greyLight) blackness(8%));
  }
}
