.site-header {
  transition: opacity 0.4s ease 0.2s, transform 0.4s ease 0.2s;
  opacity: 0;
  transform: translateY(-3vh);

  @nest .loaded & {
    opacity: 1;
    transform: translateY(0);
  }

  @media (--screenMediumOnly) {
    margin-bottom: 50px;
  }

  @media (--screenMediumUp) {
    margin-bottom: calc(40px + 5vh);
  }
}


/*  Now Playing */

.now-playing {
  padding: 2em 0;
  text-align: center;
  background-image: svg-load(../svg/sine.svg, stroke: #FAF8F7);
  background-repeat: repeat-x;
  background-size: 300px 66px;
  background-position: 0 center;
  animation: sine-slide 10s linear infinite;
}

@keyframes sine-slide {
  from {
    background-position: 0 center;
  }
  to {
    background-position: 300px center;
  }
}

.now-playing-wrapper {}

.now-playing-label {
  color: var(--greyDark);
}

.now-playing-title {
  font-size: calc(1em * 22 / 16);
  font-family: var(--titleFont);
  margin: 6px 0;
}

.now-playing-artist {}


/* Menu */
.menu-outer {
  @extend %outer-padding;
}

.menu {
  lost-flex-container: row;
  border-bottom: 1px solid var(--greyMedium);

  @nest .now-playing + .menu-outer & {
    border-top: 1px solid var(--greyMedium);
  }
}

.menu-link {
  @extend text-small;
  lost-column: 1/4 4 0 flex;
  text-align: center;
  text-decoration: none;
  color: inherit;
  padding: 10px 0;
  border-right: 1px solid var(--greyMedium);

  &:last-child {
    border-right: 0;
  }

  &.active {
    color: var(--accent);
    font-weight: 500;
    background-color: var(--greyLight);
  }

  &:not(.active):hover {
    color: var(--accent);
  }
}
