.list {
  margin: 10px 0;
  border-bottom: 1px solid var(--borderColor);
}

.list-item {
  lost-flex-container: row;
  align-items: top;
  border-top: 1px solid var(--borderColor);
  padding: 16px 0;

  &.first-of-type {
    border-top-width: 3px;
  }
}


/* ----- Recent Tracks ---- */

.recent-track-artist {
  lost-column: 3/12;
  @extend header-3;
  opacity: 0.6;
}

.recent-track-song {
  lost-column: 7/12;
}

.recent-track-title {
  @extend header-3;
}

.recent-track-artist {
  opacity: 0.6;
  margin-right: 1em;
}

.recent-track-album {
  margin-top: 4px;
  font-size: 10px;
  font-weight: 400;
  opacity: 0.6;
}

.recent-track-timestamp {
  lost-column: 2/12;
  text-align: right;
  font-size: 14px;
  line-height: 38px;
}


/* ----- Top Albums ---- */

.top-albums-list-item {
  align-items: center;
  padding: 24px 0;
}

.top-albums-rank-image {
  position: relative;
}

.top-albums-rank {}

.top-albums-cover-column {
  lost-column: 2/12;
}

.top-album-name {
  @extend header-2;
}

.top-album-artist {
  @extend header-4;
  opacity: 0.6;
}

.top-albums-info-column {
  lost-column: 8/12;
}

.top-albums-playcount {
  margin-top: 2px;
}

.top-albums-playcount-count {}

.top-albums-playcount-label {
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 0.1em;
  font-weight: 400;
}


/* ----- Top Tracks ---- */

.top-tracks-list-item {
  align-items: center;
}

.top-track-rank-column {
  width: 48px;
  margin-right: 18px;
}

.top-track-rank {
  font-size: 24px;
}

.top-track-info-column {
  flex: 1;
}

.top-track-playcount-column {
  lost-column: 3/12;
  text-align: right;
}

.top-track-name {
  @extend header-2;
}

.top-track-artist {}


/* ----- Top Artists ---- */

.top-artists-list-item {
  align-items: center;
}

.top-artist-image-column {
  lost-column: 1.5/12;
}

.top-artist-info-column {
  flex: 1;
}

.top-artist-playcount-column {
  lost-column: 3/12;
  text-align: right;
}

.top-artist-name {
  @extend header-2;
}
