.list {
  margin: rem(10) 0;
  border-bottom: 1px solid var(--greyMedium);
}

.list-item {
  align-items: center;
  border-top: 1px solid var(--greyMedium);
  padding: rem(16) 0;
  lost-flex-container: row;

  @media (--screenMediumUp) {
    padding: calc(rem(8) + 1vh) 0;
  }

  &.first-of-type {
    border-top-width: 2px;
  }
}


/* ----- Recent Tracks ---- */

.recent-track-info-container {
  lost-column: 12/12;

  @media (--screenMediumUp) {
    lost-column: 8/12;
  }

  @media (--screenLargeUp) {
    lost-flex-container: row;
    lost-column: 9/12;
  }
}

.recent-track-artist {
  @extend header-4;
  @extend %never-empty;
  color: var(--greyDark);

  @media (--screenLargeUp) {
    lost-column: 3/9;
  }
}

.recent-track-song {
  @extend %never-empty;

  @media (--screenLargeUp) {
    lost-column: 6/9;
  }
}

.recent-track-title {
  @extend %never-empty;
  @extend header-4;
}

.recent-track-album {
  @extend %never-empty;
  margin-top: rem(4);
  font-size: rem(10);
  font-style: italic;
}

.recent-track-timestamp {
  @extend %never-empty;

  @media (--screenSmallOnly) {
    margin-top: rem(8, 10);
    font-size: rem(10);
    color: var(--greyDark);
  }

  @media (--screenMediumUp) {
    lost-column: 4/12;
    text-align: right;
    font-size: rem(14);
    line-height: rem(38);
  }

  @media (--screenLargeUp) {
    lost-column: 3/12;
  }
}


/* ----- Top Albums ---- */

.top-albums-list-item {
  padding: rem(16) 0;

  @media (--screenMediumUp) {
    padding: calc(rem(16) + 1.5vh) 0;
  }
}

.top-albums-rank-image {
  position: relative;
}

.top-albums-cover-column {
  @media (--screenSmallOnly) {
    lost-column: 4/12;
  }

  @media (--screenMediumUp) {
    flex: 1;
    max-width: rem(160);
    margin-right: rem(32);
  }
}

.top-album-name {
  @extend %header-2;
  margin: rem(8) 0;
}

.top-album-artist {
  @extend header-4;
}

.top-albums-info-column {
  lost-column: 8/12;

  @media (--screenMediumUp) {
    lost-column: 9/12;
  }

  @media (--screenLargeUp) {
    lost-column: 8/12;
  }
}

.top-albums-playcount {
  margin-top: rem(2);
}

.top-albums-playcount-label {
  font-size: rem(10);
  font-weight: 600;
}


/* ----- Top Tracks ---- */

.top-tracks-list-item {
  align-items: center;
}

.top-track-rank-container {
  width: rem(48);
  margin-right: rem(18);
}

.top-track-rank {
  color: var(--greyDark);

  @media (--screenSmallOnly) {
    font-size: rem(32);
    opacity: 0.6;
    text-align: center;
  }

  @media (--screenMediumUp) {
    font-size: rem(24);
  }
}

.top-track-info-container {
  flex: 1;

  @media (--screenSmallOnly) {
    display: flex;
    flex-direction: column-reverse;
  }

  @media (--screenMediumUp) {
    lost-flex-container: row;
    align-items: center;
  }
}

.top-track-song {
  @extend %never-empty;

  @media (--screenMediumUp) {
    lost-column: 8/12;
  }
}

.top-track-playcount {
  @media (--screenSmallOnly) {
    margin-bottom: rem(4);
    font-size: rem(14);
  }

  @media (--screenMediumUp) {
    text-align: right;
    lost-column: 4/12;
  }
}

.top-track-name {
  @extend %never-empty;
  @extend header-3;
  margin-bottom: rem(4);
}

.top-track-artist {
  @extend %never-empty;
}

/* ----- Top Artists ---- */

.top-artist-image-container {
  @media (--screenSmallOnly) {
    lost-column: 4/12;
  }

  @media (--screenMediumUp) {
    flex: 1;
    max-width: rem(96);
    margin-right: rem(32);
  }
}

.top-artist-info-container {
  @media (--screenSmallOnly) {
    lost-column: 8/12;
  }

  @media (--screenMediumUp) {
    flex: 1;
    lost-flex-container: row;
    align-items: center;
  }
}

.top-artist-name {
  @extend %header-2;

  @media (--screenSmallOnly) {
    margin-bottom: rem(4);
  }

  @media (--screenMediumUp) {
    lost-column: 5/8;
  }
}

.top-artist-playcount {
  @media (--screenMediumUp) {
    lost-column: 3/8;
    text-align: right;
  }
}
