.tracks-list {}

.recent-track-artist {
  lost-column: 2.25/12;
  @extend text-medium;
  opacity: 0.6;
}

.recent-track-song {
  lost-column: 7.75/12;
}

.recent-track-song-title {
  @extend text-medium;
}

.recent-track-artist {
  opacity: 0.6;
  margin-right: 1em;
}

.recent-track-album {
  margin-top: 4px;
  font-size: 10px;
  font-weight: 400;
  opacity: 0.6;
}

.recent-track-timestamp {
  lost-column: 2/12;
  text-align: right;
  font-size: 12px;
  line-height: 38px;
}

.list {
  margin: 10px 0;
  border-bottom: 1px solid var(--borderColor);
}

.list-item {
  lost-flex-container: row;
  align-items: top;
  border-top: 1px solid var(--borderColor);
  padding: 16px 0;

  &.first-of-type {
    border-top-width: 3px;
  }
}
