.list {
  margin: 10px 0;
  border-bottom: 1px solid var(--borderColor);
}

.list-item {
  align-items: center;
  border-top: 1px solid var(--borderColor);
  padding: 16px 0;
  lost-flex-container: row;

  @media (--screenMediumUp) {
    padding: calc(8px + 1.5vh) 0;
  }


  &.first-of-type {
    border-top-width: 3px;
  }
}


/* ----- Recent Tracks ---- */

.recent-track-info-container {
  lost-column: 12/12;

  @media (--screenMediumUp) {
    lost-column: 8/12;
  }

  @media (--screenLargeUp) {
    lost-flex-container: row;
    lost-column: 9/12;
  }
}

.recent-track-artist {
  @extend header-3;
  opacity: 0.6;

  @media (--screenLargeUp) {
    lost-column: 3/9;
  }
}

.recent-track-song {
  @media (--screenLargeUp) {
    lost-column: 6/9;
  }
}

.recent-track-title {
  @extend header-3;
}

.recent-track-artist {
  opacity: 0.6;
  margin-right: 1em;
}

.recent-track-album {
  margin-top: 4px;
  font-size: 10px;
  font-weight: 400;
  opacity: 0.6;
}

.recent-track-timestamp {
  font-size: 14px;
  line-height: 38px;

  @media (--screenMediumUp) {
    lost-column: 4/12;
    text-align: right;
  }

  @media (--screenLargeUp) {
    lost-column: 3/12;
  }
}


/* ----- Top Albums ---- */

.top-albums-list-item {
  padding: 16px 0;

  @media (--screenMediumUp) {
    padding: calc(16px + 2vh) 0;
  }
}

.top-albums-rank-image {
  position: relative;
}

.top-albums-cover-column {
  @media (--screenSmallOnly) {
    lost-column: 4/12;
  }

  @media (--screenMediumUp) {
    flex: 1;
    max-width: 160px;
    margin-right: 32px;
  }
}

.top-album-name {
  @extend header-2;
}

.top-album-artist {
  @extend header-4;
  opacity: 0.6;
}

.top-albums-info-column {
  lost-column: 8/12;

  @media (--screenMediumUp) {
    lost-column: 9/12;
  }

  @media (--screenLargeUp) {
    lost-column: 8/12;
  }
}

.top-albums-playcount {
  margin-top: 2px;
}

.top-albums-playcount-label {
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 0.1em;
  font-weight: 400;
}


/* ----- Top Tracks ---- */

.top-tracks-list-item {
  align-items: center;
}

.top-track-rank-container {
  width: 48px;
  margin-right: 18px;
}

.top-track-rank {
  @media (--screenSmallOnly) {
    font-size: 32px;
    font-weight: 400;
    opacity: 0.6;
    text-align: center;
  }

  @media (--screenMediumUp) {
    font-size: 24px;
  }
}

.top-track-info-container {
  flex: 1;

  @media (--screenSmallOnly) {
    display: flex;
    flex-direction: column-reverse;
  }

  @media (--screenMediumUp) {
    lost-flex-container: row;
    align-items: center;
  }
}

.top-track-song {
  @media (--screenMediumUp) {
    lost-column: 8/12;
  }
}

.top-track-playcount {
  @media (--screenSmallOnly) {
    margin-bottom: 4px;
    font-size: 14px;
  }

  @media (--screenMediumUp) {
    text-align: right;
    lost-column: 4/12;
  }
}

.top-track-name {
  @extend header-2;
  margin-bottom: 4px;
}


/* ----- Top Artists ---- */

.top-artist-image-container {
  @media (--screenSmallOnly) {
    lost-column: 4/12;
  }

  @media (--screenMediumUp) {
    flex: 1;
    max-width: 96px;
    margin-right: 32px;
  }
}

.top-artist-info-container {
  @media (--screenSmallOnly) {
    lost-column: 8/12;
  }

  @media (--screenMediumUp) {
    flex: 1;
    lost-flex-container: row;
  }
}

.top-artist-name {
  @extend header-2;

  @media (--screenMediumUp) {
    lost-column: 5/8;
  }
}

.top-artist-playcount {
  @media (--screenMediumUp) {
    lost-column: 3/8;
    text-align: right;
  }
}
