.section {
  lost-center: var(--maxWidth) no-flex;
  padding: 0 20px;
}

.section-header {
  margin-bottom: 20px;

  @media (--screenLargeUp) {
    display: flex;
    margin-bottom: 40px;
  }
}

.section-title {
  font-family: var(--titleFont);
  font-weight: 400;
  letter-spacing: -0.02em;
  line-height: 1;
  opacity: 0.8;
  font-size: calc(1em + 5vw);

  @media (--screenMediumUp) {
    font-size: calc(1em * 38 / 16);
  }

  @media (--screenMediumOnly) {
    text-align: center;
  }

  @media (--screenLargeUp) {
    flex-grow: 1;
    font-size: calc(1em * 42 / 16);
  }

}

.timespan-menu {
  @media (--screenMediumOnly) {
    display: flex;
    margin-top: 40px;
  }

  @media (--screenMediumUp) {
    align-self: flex-end;
  }
}

.timespan-menu-button {
  @extend text-small;
  background: none;
  border: 0;
  padding: 0;
  line-height: 1;
  cursor: pointer;

  @media (--screenMediumOnly) {
    flex: 1;
  }

  @media (--screenLargeUp) {
    margin-left: 2em;
  }

  &.active {
    font-weight: 500;
  }

  &:focus {
    outline: 0;
  }

  & svg {
    display: none;
  }

  @media (--screenSmallOnly) {
    & .fl { display: none; }

    & svg {
      display: inline-block;
      width: 16px;
    }

    path {
      stroke-width: 9px;
    }

    &.active path {
      stroke-width: 15px;
    }
  }
}
