.section {
  @extend %outer-padding;
  transition: opacity 0.4s ease-out 0.5s, transform 0.4s ease-out 0.5s;
  opacity: 0;
  transform: translateY(3vh);

  @nest .loaded & {
    opacity: 1;
    transform: translateY(0);
  }
}

.section-header {
  margin-bottom: rem(20);

  &.no-tabs {
    margin-bottom: rem(50);
  }

  @media (min-width: 910px) {
    display: flex;
    margin-bottom: rem(40);
  }
}

.section-title {
  font-family: var(--titleFont);
  line-height: 1;
  color: var(--accent);
  font-size: calc(1em + 5vw);

  @media (--screenMediumUp) {
    font-size: calc(1em * 38 / 16);
  }

  @media (max-width: 909px) {
    text-align: center;
  }

  @media (min-width: 910px) {
    flex-grow: 1;
    font-size: calc(1em * 42 / 16);
  }
}

.timespan-menu {
  @media (max-width: 909px) {
    display: flex;
    margin-top: rem(40);
  }

  @media (--screenMediumUp) {
    align-self: flex-end;
  }
}

.timespan-menu-button {
  @extend text-small;
  background: none;
  border: 0;
  padding: 0;
  line-height: 1;
  cursor: pointer;
  color: var(--greyDark);

  @media (max-width: 909px) {
    flex: 1;
  }

  @media (--screenMediumOnly) {
    & .pr { display: none; }
  }

  @media (--screenMediumUp) {
    & .shr { display: none; }
  }

  @media (min-width: 910px) {
    margin-left: 2em;
  }

  &.active {
    color: var(--accent);
  }

  &:focus {
    outline: 0;
  }

  & svg {
    display: none;
  }

  @media (--screenSmallOnly) {
    & .fl { display: none; }

    & svg {
      display: inline-block;
      width: rem(16);
    }

    & path {
      stroke-width: rem(12);
      stroke: var(--greyDark);
    }

    &.active path {
      stroke-width: rem(18);
      stroke: var(--accent);
    }
  }
}

.button-bar {
  margin: 2em 0;
  display: flex;
}

.button-to-top {
  display: block;
  margin-left: rem(32);
  width: rem(64);
  background: none;
  border: 1px solid var(--greyMedium);

  &:hover {
    background: var(--greyLight);
  }
}

.button-load-more {
  position: relative;
  width: 100%;

  &:hover {
    background: color(var(--greyLight) shade(5%));
  }

  &:active {
    background: color(var(--greyLight) shade(10%));
  }
}
