@lost gutter rem(16);
@lost flexbox flex;

@custom-media --screenSmallOnly (max-width: 499px);
@custom-media --screenMediumUp (min-width: 500px);
@custom-media --screenMediumOnly (max-width: 739px);
@custom-media --screenLargeUp (min-width: 740px);

:root {
  --titleFont: "Anton", TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  --bodyFont: "Overpass Mono", monospace;

  --backgroundColor: #FFFFFF;
  --bodyColor: color(#F5F1EE shade(70%));

  --greyLight: color(#F5F1EE tint(50%));
  --greyMedium: color(#F5F1EE shade(6%));
  --greyDark: color(#F5F1EE shade(40%));

  --accent: #F04B33;

  --maxWidth: 1020px;
}
