@lost gutter 32px;
@lost flexbox flex;

@custom-media --screenSmallOnly (max-width: 499px);
@custom-media --screenMediumUp (min-width: 500px);
@custom-media --screenMediumOnly (max-width: 739px);
@custom-media --screenLargeUp (min-width: 740px);


:root {
  --titleFont: "Inknut Antiqua", TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  --bodyFont: 'Roboto Mono', monospace;

  --bodyColor: #444;
  --greyLight: #FAFAFA;

  --accentColor: #DC5B6B;

  --maxWidth: 1020px;

  --borderColor: #E0E0E0;
}
